body {
    background-color: #1A1A1A;
    font-family: 'Arial', sans-serif;
}

.nav-bar {
    background-color: #535353;
    width: 85%;
    position: fixed;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 30px;
    padding: 15px;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-left a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin: 0 20px;
    border-radius: 15px;
    transition: background-color 0.3s, color 0.3s, transform 0.2s ease-in-out;
}

.nav-left a i {
    margin-right: 10px;
    font-size: 1.6em;
}

.nav-left a:hover {
    background-color: #ffffff;
    color: #535353;
    transform: scale(1.1);
}

.nav-left a:hover i {
    color: #535353;
}

.nav-right {
    color: white;
    font-size: 1.6em;
    font-weight: bold;
    text-align: right;
    letter-spacing: 1px;
}
